.blog__elem_custom_three{
	width: 25%;
    min-height: 350px;
    _height: 250px;
    vertical-align: top;
    border-top:    2px solid #e5f1fd;
	border-bottom: 2px solid #e5f1fd;
	border-right:   2px solid #e5f1fd;
	border-left:   2px solid #e5f1fd;
}